.holder{
    max-width: 960px;
    margin: 0 auto;
}
.actividades{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.introduccion h2{
    font-size: 35px;
    color: rgb(84, 81, 81);
    text-align: center;
}
.introduccion p{
    font-size: 20px;
    text-align: center;
    font-style: italic;
}  


.actividad{
    border: 2px black solid;
    border-radius: 10px;
    padding: 10px;
    height: 350px;
    width: 300px;
    margin: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px rgb(209, 201, 201);
    background-color: rgb(171, 161, 141);  
}

.actividad .info h3{
    color: rgb(84, 81, 81);
    font-weight: 400;
    font-style: oblique;
    text-decoration: underline;
    text-align: center;

}
.actividad .info h4{
    color: rgb(84, 81, 81);
    text-align: center;
}
.actividad .info p{
    font-size: 17px;
    font-style: italic;
    text-align: center;
}
